.navigation {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}

.navigation a {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bold;
    opacity: 0.8;
    transition: 0.3s;
}

.navigation a:hover {
    color: #D49B72;
    transform: scale(1.1);
}

.contain {
    padding: 50px;
    height: 100vh;
    background: linear-gradient(90deg, rgba(0,0,0,0.4954774145986519) 0%, rgba(0,0,0,0.5) 100%) ,url("https://picsum.photos/1920/1080");
    color:white;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contenu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.main img {
    width: 40%;
}

.contenu {
    width: 35%;
}

.contenu h1 {
    font-size: 5rem;
    opacity: 0.8;
}

.contenu h2 {
    font-size: 2rem;
    opacity: 0.8;
}

.contenu h2 strong {
    color: #D49B72;
    opacity: 0.8;
}

.contenu p {
    font-size: 1.5rem;
    width: 100%;
    opacity: 0.8;
}

.contenu a {
    background-color: #D49B72;
    color: black;
    padding: 20px;
    border-radius: 30px;
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none;
}

.contenu a:hover {
    color: #D49B72;
    background-color: #ffe9cd;
}

@media screen and (max-width: 768px) {
    .contain {
        padding: 110px 20px 0 20px;
    }

    .main {
        flex-direction: column;
        gap: 20px;
    }

    .main img {
        width: 80%;
    }

    .contenu {
        width: 100%;
        align-items: center;
    }

    .contenu h1 {
        font-size: 3rem;
        text-align: center;
    }

    .contenu h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .contenu p {
        font-size: 1rem;
        text-align: justify;
    }

    .contenu a {
        padding: 15px;
        font-size: 1.5rem;
    }
}