.nav{
    display:flex;
    flex-direction: column;
    max-height:max-content;
    justify-content: space-between;
    padding: 20px 10px;
    align-items:center;
    background-color:white;
}
.navContain{
    display:flex;
    flex-direction: column;
    gap:20px;
    padding:20px;
}
.button{
    border:none;
    cursor:pointer;
    background-color:white;
}

.nav img{
    width: 50px;
}
.nav svg{
    color:black;
}
@media screen and (max-width:900px){
    .nav{
        flex-direction: row;
        gap: 20px;
    }
    .navContain{
        flex-direction: row;
        gap: 20px;
    }
}